# Notebook 02 — Feature Engineering (Brasileirão Série A 2003–2024)

## Objetivo
Criar novas features esportivas úteis para prever desempenho.

In [2]:
import pandas as pd
import numpy as np

DATA_CSV_PATH = 'brasileirao.csv'
df = pd.read_csv(DATA_CSV_PATH)
df.head()

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9

## Feature: aproveitamento (%)

In [3]:
df['aproveitamento'] = (df['points'] / df['played']) * 100
df.head()

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,aproveitamento
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,217.391304
1,2003,2,Santos,87,46,25,12,9,93,60,33,189.130435
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,169.565217
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,160.869565
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,158.695652

## Feature: média de gols marcados

In [4]:
df['media_gols_marcados'] = df['goals_taken'] / df['played']
df.head()

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,aproveitamento,media_gols_marcados
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,217.391304,1.021739
1,2003,2,Santos,87,46,25,12,9,93,60,33,189.130435,1.304348
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,169.565217,1.456522
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,160.869565,0.804348
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,158.695652,1.260870

## Feature: média de gols sofridos

In [6]:
df['media_gols_sofridos'] = df['goals_diff'] / df['played']
df.head()

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,aproveitamento,media_gols_marcados,media_gols_sofridos
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,217.391304,1.021739,1.195652
1,2003,2,Santos,87,46,25,12,9,93,60,33,189.130435,1.304348,0.717391
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,169.565217,1.456522,0.304348
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,160.869565,0.804348,0.347826
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,158.695652,1.260870,0.195652

## Salvar dataset processado

In [7]:
df.to_csv('brasileirao_featured.csv', index=False)